<%/** * error.ejs * * Web App Name: Midterm Test - Favourite Book List App *
Student Name: Joel VANGA * Student Id: 301138320 * Date: Friday 24 June 2022 * *
@link error.ejs * @file This file defines the view to show the "Error" Page. *
@author Joel Vanga
<jvanga@my.centennialcollege.ca>
  */%>

  <h1><%= message %></h1>
  <h2><%= error.status %></h2>
  <pre><%= error.stack %></pre>
</jvanga@my.centennialcollege.ca>
